﻿
@model _410829395.ViewModel.BMIData

@{ 
    ViewBag.Title = "Index";
}

<h1>BMI</h1>
<h3>
    BMI = Weight (kg) / Height (m)
</h3>

<form action="@Url.Action("Index")" method="post">

    <p>H: @Html.TextBoxFor(d => d.Height)  CM @ViewBag.HeightError</p>
    <p>W: @Html.TextBoxFor(d => d.Weight)   KG @ViewBag.WeightError</p>

    <p> <input type="submit" name="name" value="SEND" /> </p>

    <p>YourResult: @Model.Result </p>
    <p>YourLevel: @Model.Level </p>

</form>

<br />

體重過輕~  BMI＜18.5
<br />
正常範圍   18.5≦BMI ＜24
<br />
過重       24≦BMI＜27
<br />
輕度肥胖   27≦ BMI＜30
<br />
中度肥胖   30≦ BMI＜35
<br />
重度肥胖!! BMI≧35
<br />





