﻿
@{
    ViewBag.Title = "HTMLHelper";
}

<h2>HTMLHelper</h2>

<br />
<p> ID:  @Html.TextBox("userID") </p>
<br />
<p> Password:  @Html.Password("password") </p>
<br />
<p> Email:  @Html.TextBox("E-mail", "user@gmail.com") </p>
<br />
<p> Name:  @Html.TextBox("Name", "Yourname") </p>
<br />
<p> I'm not robot  @Html.CheckBox("notrobot", "false")</p>
<br />
 ABOUT YOU:  @Html.TextArea("aboutyou")
<br />
<p>Hobby:  
@Html.CheckBox("A")Swimming
@Html.CheckBox("B")Badminton
@Html.CheckBox("C")Other</p>

<br />
<p>Birthday:  @Html.DropDownList("Month", 
    new List<SelectListItem>
    {
        new SelectListItem{Value = "1", Text = "1月"},
        new SelectListItem{Value = "2", Text = "2月"},
        new SelectListItem{Value = "3", Text = "3月"},
        new SelectListItem{Value = "3", Text = "4月"},
        new SelectListItem{Value = "3", Text = "5月"},
        new SelectListItem{Value = "3", Text = "6月"},
        new SelectListItem{Value = "1", Text = "7月"},
        new SelectListItem{Value = "2", Text = "8月"},
        new SelectListItem{Value = "3", Text = "9月"},
        new SelectListItem{Value = "3", Text = "10月"},
        new SelectListItem{Value = "3", Text = "11月"},
        new SelectListItem{Value = "3", Text = "12月"},
    }
)</p>


@*<h1>Login</h1>

    <img src="1234.jpg" alt="CAT" />

    <p> Name: <input type="text" /></p>
    <br />
    <p> ID: <input type="text" /></p>
    <br />
    <p> Password: <input type="password" /></p>
    <br />
    <input type="radio" name="gender" value="A"> Male<br>
    <input type="radio" name="gender" value="B"> Female<br>
    <br />
    <input type="submit" value="Sumbit" />
    <br />
    <br />
    <input type="reset" />
    <br />
    <input type="checkbox" name="item" value="A" />I'M NOT ROBOT
    <br />
    ABOUT YOU: </p><textarea name="About YOU" rows="10" cols="30"> </textarea>
    <br />
    Hobby:<input type="checkbox" name="item" value="A" />Swimming <input type="checkbox" name="item" value="B" />Badminton <input type="checkbox" name="item" value="C" />Other*@

