﻿
@{
    ViewBag.Title = "HTML";
}

<h1>Login</h1>

<img src="1234.jpg" alt="CAT" />

<p> Name: <input type="text" /></p>
<br />
<p> ID: <input type="text" /></p>
<br />
<p> Password: <input type="password" /></p>
<br />
<input type="radio" name="gender" value="A"> Male<br>
<input type="radio" name="gender" value="B"> Female<br>
<br />
<input type="submit" value="Sumbit" />
<br />
<br />
<input type="reset" />
<br />
<input type="checkbox" name="item" value="A" />I'M NOT ROBOT
<br />
ABOUT YOU: </p><textarea name="About YOU" rows="10" cols="30"> </textarea>
<br />
Hobby:<input type="checkbox" name="item" value="A" />Swimming <input type="checkbox" name="item" value="B" />Badminton <input type="checkbox" name="item" value="C" />Other

